<section>
  <!--filters-->
  <div class="container py-3">
    <div class="bg-light rounded-3 p-3 mb-4">
      <form
        class="form-inline"
        [formGroup]="formFilters"
        (ngSubmit)="filterRequest()"
      >
        <div class="form-group mb-2">
          <label for="nome" class="sr-only">Nome</label>
          <input
            type="text"
            class="form-control form-control-plaintext"
            id="nome"
            formControlName="nome"
            placeholder="Digite..."
          />
        </div>

        <div class="form-group mb-2">
          <label for="idadeInicial" class="sr-only">Idade Inicial</label>
          <input
            type="number"
            class="form-control form-control-plaintext"
            min="0"
            id="idadeInicial"
            formControlName="faixaIdadeInicial"
            placeholder="Digite..."
          />
        </div>

        <div class="form-group mb-2">
          <label for="idadeFinal" class="sr-only">Idade Final</label>
          <input
            type="number"
            class="form-control form-control-plaintext"
            min="0"
            id="idadeFinal"
            formControlName="faixaIdadeFinal"
            placeholder="Digite..."
          />
        </div>

        <div class="form-group mb-2">
          <label for="sexo" class="sr-only">Sexo</label>
          <select
            class="form-select form-control-plaintext"
            id="sexo"
            formControlName="sexo"
          >
            <option selected>Escolha:</option>
            <option value="MASCULINO">Masculino</option>
            <option value="FEMININO">Feminino</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary mb-2 mt-4">Filtrar</button>
      </form>
    </div>
  </div>

  <!--card-->
  <div *ngIf="!!personList" class="container flex-row" style="gap: 15px">
    <div
      class="card"
      *ngFor="
        let person of personList.content
          | paginate
            : {
                itemsPerPage: pagination.itemsPerPage,
                currentPage: pagination.currentPage,
                totalItems: pagination.totalElements
              }
      "
    >
      <img
        class="card-img-top"
        *ngIf="!!person.urlFoto"
        [src]="person.urlFoto"
        alt="foto da pessoa desaparecida ({{ person.nome }})"
        width="50"
        height="300"
        loading="lazy"
      />
      <img
        class="card-img-top"
        *ngIf="!person.urlFoto"
        src="../../assets/images/Unknown_person.jpg"
        alt="foto da pessoa desaparecida ({{ person.nome }})"
        width="50"
        height="300"
        loading="lazy"
      />
      <div class="card-body">
        <h5 class="card-title"><strong>Nome:</strong> {{ person.nome }}</h5>
        <p class="card-text"><strong>Idade:</strong> {{ person.idade }}</p>
        <p class="card-text"><strong>Sexo:</strong> {{ person.sexo }}</p>
        <a class="btn btn-primary" (click)="navigateByPerson(person.id)"
          ><strong>Ver Mais</strong></a
        >
      </div>
    </div>
  </div>

  <!--pagination-->
  <div class="container py-5 d-flex justify-content-center">
    <pagination-controls
      previousLabel="Anterior"
      nextLabel="Próxima"
      (pageChange)="pageChange($event)"
    ></pagination-controls>
  </div>
</section>
