@import './app/styles/reset';

@include reset;

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
    background-color: #dfe6e9;
}

a {
    cursor: pointer;
}

/*bootsrap*/
.form-control {
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
}

.form-control-plaintext {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

input {
    background-color: #fff !important;
}